.group {
    margin-bottom: 1.5rem;
}

.group__label {
    color: var(--clr-text-inputs);
}

.group__content {
    width: 100%;
    border: none;
    border-radius: .5rem;
    background-color: var(--clr-bg-secondary);
    margin-top: .25rem;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: .75rem;
    padding-inline-end: .75rem;
}

.group__content__input {
    padding: .75rem;
    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--clr-text-inputs);
}

.group__content__input::placeholder{
    color: var(--clr-text-secondary);
    opacity: 1;
}

.group__content__input::-ms-input-placeholder{
    color: var(--clr-text-secondary);
}

.group__content__input:focus {
    outline: none;
}

.group__content:focus-within {
    outline: 2px solid var(--clr-primary);
    outline-offset: 2px;
    transition: all 30ms ease;
}

.group__content:hover {
    outline: 2px solid var(--clr-primary);
    transition: all 30ms ease;
}

.group--error .group__content,
.group--error .group__content:hover,
.group--error .group__content:focus {
    outline: 2px solid var(--clr-error);
    transition: all 50ms ease;
}

.group--error .group__label {
    color: var(--clr-error);
}

.group--error .group__content__icon {
    color: var(--clr-error);
}

.group__content__icon {
    display: grid;
    color: var(--clr-primary);
    place-items: center;
}

.group__error-message {
    font-size: 12px;
    margin-top: .5rem;
    color: var(--clr-error);
}