:root {
    --clr-bg: #222831;
    --clr-bg-secondary: #31363F;
    --clr-text-primary: #EEEEEE;

    --clr-text-secondary: rgb(118, 171, 174, .4);
    /* --clr-text-secondary: #757575; */
    --clr-text-accent: #76abae;
    --clr-text-inputs: lightgrey;
    --clr-primary: #76ABAE;
    --clr-primary--hover: rgb(129, 189, 192);
    --clr-error: rgb(241, 101, 129);


    --ff-primary: 'Poppins', sans-serif;


    --clr-success-rgb: 106, 224, 177;
    --clr-error-rgb: 241, 101, 129;
    --clr-info-rgb: 133, 180, 233;
    --clr-warning-rgb: 253, 224, 71;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary);
}

body {
    background-color: var(--clr-bg);
}